<!DOCTYPE html>
<html>
  <head>
    <title>Word Count</title>
    <link href="/Content/style.css" rel="stylesheet" type="text/CSS">
  </head>
  <body>
    <main>
      <h1>Word Count</h1>

      <form action="/submit" method="post">
        <label for="userPhrase">Place a sentence and which word to count</label><br>
        <textarea name="userPhrase" rows="5" cols="80" placeholder="Your text goes here"></textarea><br>
        <label for="userWord">Which word to count?</label><br>
        <input type="text" name="userWord" id="userWord" required><br>
        <button type="submit">Do it.</button>
      </form>

      @if (Model != null) {
        <p>
          @Model.GetUserInput()
        </p>
        <p>
          @{
            string matchOrMatches;
            if (@Model.CalculateWordMatches() != 1) {
              matchOrMatches = "matches";
            }
            else {
              matchOrMatches = "match";
            }
          }
          The word @Model.GetUserWordToCheck() has @Model.CalculateWordMatches() @matchOrMatches
        </p>
      }
    </main>
  </body>
</html>
